*{
  padding: 0;
  margin: 0;
  border: 0;
  
}

*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: -1;
   font-size: 14px;
   -ms-text-size-adjust: -100%;
   -moz-text-size-adjust: -100%;
   -webkit-text-size-adjust: -100%;
}
input,button,textarea{font-family: inherit;}

input ::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none; color: inherit;}
ul li{list-style: none;}
img{vertical-align: top;}


h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
*{
  box-sizing: border-box;
}


body{
  background-color: rgb(244, 231, 231);
}

nav{
  width: 100%;
  background-color: rgb(245, 120, 120);
}
ul{
  display: flex;
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background-color: rgb(245, 120, 120);
  font-size: 18px;
  text-transform: capitalize;
  color: black;
  cursor: pointer;
}

li:hover{
  background-color: rgb(244, 143, 143);
}

h1{
  margin-top: 50px;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
}


/* portfolio section */
.heading{
  margin-top: 20px;
}
.img-section{
  display: flex;
  align-items: center;
  background-color: rgb(238, 221, 221);
  padding: 20px;
}
.main-portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;}

.img-container{
  max-width: 800px;
  max-height: 750px;
  overflow: hidden;
  margin: 20px 40px;
}

.img-line{
  display: flex;
  overflow: hidden;
  transition: 0.7s ease;
}

.img{
  width: 800px;
  height: 550px;
  cursor: pointer;
}

.btn-img{
  width: 80px;
  height: 80px;
  background-color: rgb(245, 120, 120);
  color: aliceblue;
  font-weight: 800;
  font-size: 45px;
  border-radius: 50%;
  transition: 0.7s ease-in-out;
}

.btn-img:hover{
  background-color: rgb(244, 143, 143);
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.footer-headig{
  margin-right: 20px;
}

.git-mark{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}