:root {
  --main-background-color: rgb(75, 64, 64);
  --hover-background-color: rgba(48, 44, 44, 0.5);
  --main-text-color: rgb(231, 191, 191);
}

*{
  padding: 0;
  margin: 0;
  border: 0;
  
}

*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: -1;
   font-size: 14px;
   -ms-text-size-adjust: -100%;
   -moz-text-size-adjust: -100%;
   -webkit-text-size-adjust: -100%;
}
input,button,textarea{font-family: inherit;}

input ::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none; color: inherit;}
ul li{list-style: none;}
img{vertical-align: top;}


h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
*{
  box-sizing: border-box;
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--main-background-color)
}

body{
  background-color: rgb(244, 231, 231);
}

.navigation-bar{
  width: 100%;
}

.burger-navigation-bar{
  display: none;
}

.active{
  display: block;
}

.list-container{
  display: flex;
}

.navigation-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  background-color: var(--main-background-color);
  font-size: 18px;
  text-transform: capitalize;
  color: var(--main-text-color);
  cursor: pointer;
}
.burger-navigation-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  background-color: var(--main-background-color);
  font-size: 18px;
  text-transform: capitalize;
  color: var(--main-text-color);
  cursor: pointer;
  transition: 0.2s linear;
}

.navigation-list:hover{
  background-color: var(--hover-background-color);
}

h1{
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
}
/* About me section*/
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0;
}

.header-block{
  margin-left: 30%;
}

.line-block{
  height: 5px;
  width: 100%;
  background-color: var(--hover-background-color);
  margin-top: 5px;
}

.title{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.subtitle{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: var(--main-background-color);
}

.about-me_section{
  display: flex;
  align-items: center;
  width: 80%;
}

.my-photo{
  width: 30%;
  height: 50vh;
  border-radius: 50%;
}

.about-me_text{
  width: 70%;
  font-family: 'Instrument Serif', serif;
  text-align: center;
  font-size: 25px;
  text-indent: 10px;
  line-height: 1.4;
  margin-left: 40px;
}

/* Skills block */
.block-my-skills{
  display: flex;
  width: 90%;
  margin: 80px 0;
  box-shadow: -0.5em 0 .8em var(--hover-background-color);
}

.section-my_skills{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  color: var(--main-background-color);
}

.dark_section{ 
  background-color: rgb(120, 80, 80);
  color: ;
}

.light_section{ 
  background-color: rgb(238, 221, 221);
}

.container-language{
  display: flex;
  width: 90%;
}

.list-languages{
  display: flex;
  flex-direction: column;
  align-items: bottom;
  width: 90%;
  font-size: 22px;
  font-weight: 600;
  background-color: rgb(221, 197, 197);
  color: var(--main-background-color);
  padding: 8%;
  line-height: 1.8;
  box-shadow: -0.5em 0 .8em var(--hover-background-color);
}

.skills-list_container{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  box-shadow: -0.5em 0 .8em var(--hover-background-color);
}
 
.skills-list{
  display: flex;
  flex-direction: column;
  align-items: bottom;  
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;  
  padding: 8% 8% 0;
}

.skills-list:hover{
  color: rgb(253, 253, 253);
}

/* contact section */
.contact-section{
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-section_container{
  width: 100%;
  background-color:  var(--main-background-color);
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  padding: 20px;
}

.btn-more{
  width: 250px;
  height: 60px;
  font-size: 22px;
  border-radius: 30px;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  box-shadow: -0.5em 0 .8em var(--hover-background-color);
}

.btn-more:hover{
  background-color: var(--hover-background-color);
  transform: scale(1.05);
}

.project-section{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(238, 221, 221);
  padding: 80px 0;
}
/* portfolio section/page */

.container-project{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(238, 221, 221);
} 

.heading{
  margin-top: 50px;
}

.active-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--hover-background-color)
}

.img-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8 100px 60px;
  margin: 30px 0;
}

.main-portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.img-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  max-height: 750px;
  overflow: hidden;
  margin: 20px 40px;
  padding: 40px 0;
  box-shadow: -1.2em 1.2em 1.2em .8em var(--hover-background-color);
  background-color: var(--main-background-color);
  border-radius: 20px;
}

.img-line{
  display: flex;
  overflow: hidden;
  transition: 0.7s ease;
}

.img{
  width: 100%;
  max-height: 550px;
  cursor: pointer;
}

.btn-img{
  color: var(--main-text-color);
  font-weight: 800;
  font-size: 65px;
  transition: 0.7s ease-in-out;
}

.btn-img:hover{
  color: var(--hover-background-color);
  cursor: pointer;
}

/* footer */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  bottom: 0;
}

.footer-headig{
  margin-right: 20px;
}

.git-mark{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* burger */
.burger{
  display: none;
  width: 60px;
  height: 30px;
  cursor: pointer;
  position: relative;  
  margin: 10px 20px 10px 0;
}

.burger_line{
   display: block;
   width: 100%;
   height: 5px;
   background-color:  var(--main-text-color);
   position: absolute;
   left: 0;
   transition: transform .3s linear;
}
.burger_line1{
   top: 0;

}
.burger_line2, .burger_line3{
   top: 50%;
   transform: translateY(-50%);
}
.burger_line4{
   bottom: 0;
}
.burger_active .burger_line1,.burger_active .burger_line4 {
  opacity: 0;
}

.burger_active .burger_line2{
 transform: translateY(-50%) rotate(45deg); 
}
.burger_active .burger_line3{
 transform: translateY(-50%) rotate(-45deg); 
}


@media (max-width: 1230px){
  .about-me_section{
    width: 90%;
  }
}
@media (max-width: 990px){
  .my-photo{
    height: 30vh;
  }
}
@media (max-width: 770px){
  .header-block{
    margin-left: 0;
  }

  .my-photo{
    width: 70vw;
    height: 50vh;
    margin: 20px 0;
  }

  .about-me_section{
    flex-direction: column;
    margin: 10px 0 0 0;
  }
  
  .block-my-skills{
    flex-direction: column;
    margin: 40px;
  }
  .about-me_text{
    width: 100%;
    margin-left: 0;
    line-height: 1;
  }
}

@media (max-width: 575px){
  header{
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .burger-navigation-bar{
    position: absolute;
    right: 0;
    top: 50px;  
  }

  .burger-list-container{
    flex-direction: column;  
  }

  .burger-navigation-list{
    width: 100vw;
  }

  .navigation-list{
    display: none;
  }

  .burger{
    display: block;
  }

  h1{
    margin: 0;
  }

  main{
    padding: 0;
  }

  .project-section{
     padding: 30px 0;
  }

  .skills-list_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0;
    border-radius: 0;
  }

  .skills-list{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    color: #fff;
    border-radius: 0;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    cursor: pointer;  
  }
   
  .skills-list:hover{
    transform: none;
    background-color: var(--hover-background-color);
  }
  
  .container-language{
  display: flex;
  justify-content: center;
  }

  .img-section{
  padding: 10px 0;
  margin: 10px;
  justify-content: center;
  }

  .contact-section_container{
  padding: 10px;
  }
  
  .img-container{
    margin: 0;
  }

  .btn-img{
    display: none;
  }
  
  .main-portfolio{
  }
  .footer-headig {
    margin-right: 10px;
    font-size: 16px;
  }
}